p {
  font-family: lato, sans-serif;
  font-size: 1rem;
}

body {
  text-align: center;
  height: 100vh;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  width: 90px;
  padding: 0 15px;
}

@media screen and (max-width: 767px) {
  .menu-btn {
    background: none;
    border: none;
    font-size: 2rem;
    color: #ec5242;
  }


.main {
  display: flex;
  flex-direction: column;
  align-items: center;;
}
.menu-btn img {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  background: 100vh;
  transition: 0.3s;
  z-index: 999;
}

.nav ul {
  list-style: none;
  padding: 2rem;
}

.desktop-nav {
  display: none;
}

.desktop-nav ul {
  display: none;
}

.nav a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 1rem 0; 
}

.nav.active {
  right: 0;
}

.hero {
  background-image: ("Asset/bf.jpg");
  background-size: cover;
  background-position: center;
  padding: 120px 20px;
  text-align: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.85);
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: -2px;
  background: linear-gradient(90deg, #ff3c3c, #ff7a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px;
}

.tagline {
  font-size: 1.5rem;
  color: #ff3c3c;
}

.hero-box {
  background: white;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  border: 2px solid #eee;
}

.date {
  font-size: 1.2rem;
  font-weight: bold;
}

h2 {
  color: #ec5242;
}

p {
  font-family: lato, sans-serif;
  font-size: 1rem;
}

.bordered-text {
  border-radius: 20px;
  border: 2px solid #E1D9D1;
}

.main-program {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #111;
  color: white;
  text-align: center;
  padding: 80px 20px;
}

.program h2 {
  color: #ff3c3c;
  margin-bottom: 40px;
}

.program-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.program-card {
  background: rgba(255, 255, 255,0.05);
  border: 1px solid rgba(255, 255, 255, 0.02);
  padding: 30px;
  transform: 0.3 ease;
}

.program-card img {
  width: 60px;
  margin-bottom: 10px;
}

.program-card:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: translateY(-8px);
}

.program-btn {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 30px;
  border: 2px solid #ff3c3c;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.program-btn:hover {
  background: #ff3c3c;
}

.desktop-main-program {
  display: none;
}


.featured {
  width: 100%;
  padding: 40px;
}

.speaker-card {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
  flex-direction: row;
}

.speaker-card img {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  object-fit: cover;
}

#toggle-btn {
  width: 441px;
  height: 70px;
  border-radius: 10px;;
  color: #ec5242;
  margin: 20px;
}

.card-btn-mobile {
  background-color: #ec5242;
  color: white;
  width: 370px;
  height: 50px;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #272a31;
  color: white;
}

.footer {
  width: 345px;
}
}